@media screen and (max-width:757px) {
    /* HEADER */
    .iconMenu {
        display: block;
        position: relative;
        width: 35px;
        height: 35px;
        top: 20px;
        left: 20px;
        cursor: pointer;
    }
    nav {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #000000;
        width: 50%;
        height: 100vh;
        position: absolute;
        margin-top: 45px;
        
    }
    nav h1:nth-child(1) {
        margin: 20px 0px 40px 25px;
    }
    nav h1 {
        margin: 20px 0px 40px 25px;
        width: max-content;
    }
    .navAberto{
        display: flex;
    }
    /* MAIN */
    .historia {
        display: flex;
        flex-direction: column;
    }
    .historiaTexto {
        width: 90%;
        margin-bottom: 40px;
        margin-right: 0px;
    }
    .historiaImagem {
        width: 90%;
    }
    .historiaImagem img{
        width: 100%;
    }

}