.personagens {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.personagens input {
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--grey-2);
  border: 1px solid #ffff;
  width: 60%;
  outline: none;
  box-shadow: 0px 0px 30px #00000099;
  color: #ffffff99;
}

.personagens input::placeholder {
  text-align: center;
  font-family: var(--font-text);
  font-size: 18px;
  color: var(--grey-1);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  height: 300px;
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgPersonagens {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
}

.cardDados {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#nomePersonagem {
  font-size: 18px;
  color: var(--grey-0);
  font-family: var(--font-text);
  margin-top: 10px;
  cursor: pointer;
}

@media screen and (max-width: 757px) {
  .personagens input {
    margin-top: 100px;
  }
  .personagens input::placeholder {
    font-size: 14px;
  }
}
