@import url(./style-header.css);
@import url(./style-main.css);
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&family=Tiro+Devanagari+Hindi&display=swap");

:root {
  --font-title: "Old Standard TT", serif;
  --font-text: "Tiro Devanagari Hindi", serif;
  --white: #ffffff;
  --black: #000000;
  --grey-1: #d4d4d4;
  --grey-1: #868686;
  --grey-2: #3c3c3c;
  --grey-3: #222222;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
  font-family: var(--font-text);
  background-color: var(--grey-3);
}
