@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&family=Tiro+Devanagari+Hindi&display=swap");

:root {
  --font-title: "Old Standard TT", serif;
  --font-text: "Tiro Devanagari Hindi", serif;
  --white: #ffffff;
  --black: #000000;
  --grey-0: #e1e1e1;
  --grey-1: #d4d4d4;
  --grey-1: #868686;
  --grey-2: #3c3c3c;
  --grey-3: #222222;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  background-color: var(--grey-3);
}

header {
  width: 100%;
  height: 5em;
  background-color: var(--black);
  background-image: url(/src/images/background-header.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 7.5em auto;
}

nav {
  color: var(--white);
  display: flex;
  justify-content: space-around;
}

.iconMenu {
  display: none;
}

header h1 {
  font-size: 1.2rem;
  margin-top: 30px;
  margin-bottom: 5px;
  transition: 0.5s;
  font-family: var(--font-title);
}

header a {
  color: var(--white);
}

header:visited {
  color: var(--white);
}

header h1:hover {
  cursor: pointer;
  transition: 0.5s;
  border-bottom: 3px solid var(--grey-2);
}

.personagens {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.personagens input {
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--grey-2);
  border: 1px solid #ffff;
  width: 60%;
  outline: none;
  box-shadow: 0px 0px 30px #00000099;
  color: #ffffff99;
}

.personagens input::placeholder {
  text-align: center;
  font-family: var(--font-text);
  font-size: 18px;
  color: var(--grey-1);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  height: 300px;
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
}

.card .cardDados {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card h1 {
  font-size: 18px;
  color: var(--grey-0);
  font-family: var(--font-text);
  margin-top: 10px;
  cursor: pointer;
}

.favorite {
  background-image: url(../images/icons/heart.svg);
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 0px;
}

.fav   {
  background-image: url(../images/icons/heartfavorite.svg);
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 0px;
}

.detalhes {
  position: absolute;
  background-color: #00000099;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardDetalhes {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #868686;
  border-radius: 10px;
  width: 30%;
  height: 40%;
  border: 1px solid var(--grey-0);
}

.fechar {
  width: 100%;
  display: flex;
  justify-content: end;
}

.cardDetalhes img{
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.cardDetalhes h1 {
  font-family: var(--font-title);
  font-size: 40px;
  margin-top: 20px;
}

.dadosDetalhes {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 20px;
}

.dadosDetalhes p:nth-child(1) {
  margin-top: 40px;
}

